.ngo-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ngo-card {
  border: 1px solid #ad0b0b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ngo-card h3 {
  margin: 0 0 10px;
}

.ngo-card p {
  margin: 5px 0;
  color: aqua;
}
