body {
    margin:0px 0;
    background-color: #f0f0f0; 
  }
  .form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

  }
  .ngo-form {
    width: 600px;
    height: 650px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow */
  }
  
  .ngo-form h2 {
    text-align: center;
    color: #333;
  }
  
  .ngo-form p {
    text-align: center;
    color: #666;
  }
  
  .ngo-form label {
    display: block;
    margin-bottom: 10px;
    color: #444;
  }
  
  .ngo-form input,
  .ngo-form select,
  .ngo-form textarea {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .ngo-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .ngo-form button:hover {
    background-color: #45a049;
  }
  
  .ngo-form div {
    display: flex;
    gap: 8px;
  }
  